/* 1700px */
@media (max-width: 1700px) {
    .about__description__h1 {
        font-size: 50px;
        max-width: 1000px;
    }
    .about__description__text {
        gap: 25px;
    }
    .about__description__content {
        max-width: 500px;
    }
    .services__inner {
        gap: 70px;
    }
    .cases__card {
        max-width: 355px;
    }
}

/* 1600px */
@media (max-width: 1600px) {
    .header__inner__logo {
        width: 900px;
    }
}

/* 1500px */
@media (max-width: 1500px) {
    .about__description__h1 {
        font-size: 45px;
        max-width: 800px;
    }
    .about__description__text {
        gap: 25px;
    }
    .about__description__content {
        max-width: 400px;
        font-size: 18px;
    }
    .services__description {
        font-size: 20px;
    }
    .card {
        width: 400px;
        height: 480px;
    }
}

/* 1450px */
@media (max-width: 1450px) {
    .cases__card {
        max-width: 300px;
    }
}

/* 1400px */
@media (max-width: 1400px) {
    .services__description {
        font-size: 18px;
    }
    .card {
        width: 350px;
        height: 520px;
    }
    .services__btn {
        font-size: 18px;
    }
}

/* 1300px */
@media (max-width: 1300px) {
    .about__description__h1 {
        font-size: 40px;
        max-width: 600px;
    }
    .about__description__text {
        gap: 25px;
    }
    .about__description__content {
        max-width: 300px;
        font-size: 18px;
    }
    .about__title {
        font-size: 70px;
    }
    .services__title {
        font-size: 70px;
    }
    .cases__title {
        font-size: 70px;
    }
    .cases__description {
        font-size: 20px;
    }
    .cases__card {
        max-width: 250px;
    }
    .cases__cards {
        margin-top: 100px;
    }
    .order__content {
        font-size: 40px;
    }
    .formMain__title {
        font-size: 40px;
    }
}

/* 1250px */
@media (max-width: 1250px) {
    .services__description {
        font-size: 18px;
    }
    .card {
        width: 300px;
        height: 430px;
    }
    .services__btn {
        font-size: 18px;
    }
    .card__title--text {
        font-size: 20px;
    }
    .card__content {
        margin-top: 15px;
    }
    .card__content p {
        font-size: 14px;
    }
    .card-front, .card-back {
        padding: 20px;
    }
}

/* 1150px */
@media (max-width: 1150px) {
    .services__description {
        font-size: 18px;
    }
    .card {
        width: 250px;
        height: 410px;
    }
    .services__btn {
        font-size: 18px;
    }
    .card__title--text {
        font-size: 18px;
    }
    .card__list, .card__utp {
        font-size: 14px;
    }
    .card__content {
        margin-top: 15px;
        gap: 10px;
    }
    .card__content p {
        font-size: 12px;
    }
    .card-front, .card-back {
        padding: 20px;
    }
    .card__title img {
        width: 25px;
    }
    .services__inner {
        gap: 30px;
    }
}

/* 1100px */
@media (max-width: 1100px) {
    .cases__title {
        font-size: 70px;
    }
    .cases__description {
        font-size: 20px;
    }
    .cases__card {
        max-width: 250px;
        padding-left: 30px;
    }
    .cases__cards {
        margin-top: 100px;
    }
}

/* 1050px */
@media (max-width: 1050px) {
    .logo-header {
        width: 130px;
    }
    .logo-header-text {
        width: 450px;
    }
    .header__inner__text {
        display: flex;
        margin-top: -30px;
        margin-left: 350px;
        font-size: 14px;
    }
    .header__inner__logo {
        width: 800px;
    }
}

/* 1000px */
@media (max-width: 1000px) {
    .about__description__h1 {
        font-size: 40px;
        max-width: 1000px;
    }
    .about__description__text {
        gap: 50px;
    }
    .about__description__content {
        max-width: 800px;
        font-size: 16px;
    }
    .about__title {
        font-size: 70px;
    }
    .about__inner {
        flex-direction: column;
        gap: 70px;
    }
    
    .services__description {
        font-size: 18px;
    }
    .card {
        width: 350px;
        height: 400px;
    }
    .services__btn {
        font-size: 18px;
    }
    .card__title--text {
        font-size: 18px;
    }
    .card__list, .card__utp {
        font-size: 16px;
    }
    .card__content {
        margin-top: 15px;
        gap: 10px;
    }
    .card__content p {
        font-size: 14px;
    }
    .card-front, .card-back {
        padding: 25px;
    }
    .card__title img {
        width: 35px;
    }
    .card__title {
        align-items: center;
    }
    .services__inner {
        gap: 70px;
        flex-direction: column;
    }
    .services__cards {
        grid-template-columns: repeat(2, 350px);
        align-items: center;
        justify-content: center;
    }
    
    .cases__title {
        font-size: 70px;
    }
    .cases__description {
        font-size: 20px;
    }
    .cases__card {
        max-width: 200px;
        padding-left: 30px;
    }
    .cases__cards {
        margin-top: 0px;
    }
    .three-card {
        height: 80%;
        &:hover {
            height: 85%;
        }
    }
    .two-card {
        height: 60%;
        &:hover {
            height: 65%;
        }
    }
    .one-card {
        height: 40%;
        &:hover {
            height: 45%;
        }
    }
    .cases__card h4 {
        font-size: 40px;
    }
    
    .footer__img a img {
        max-width: 150px;
    }
    .logo_footer {
        width: 50px;
    }
    .footer__info {
        gap: 25px;
    }
    
    .header__btn {
        display: none;
    }
    .header__nav {
        display: none;
    }
    .header__menu--mobile {
        display: flex;
        position: absolute;
        flex-direction: column;
        gap: 6px;
        right: 40px;
        top: 40px;
        cursor: pointer;
        transition: all .3s ease;
        border-radius: 50px;
        z-index: 999;
        &:hover {
            gap: 10px;
        }
    }
    .header__top__inner {
        padding-top: 80px;
    }
    .header__menu--mobile div {
        background-color: white;
        height: 1.3px;
        border-radius: 50px;
        width: 25px;
    }
    .header__menu--mobile__close {
        position: fixed;
        z-index: 1000;
        right: 40px;
        top: 40px;
        width: 24px;
        height: 24px;
        cursor: pointer;
    }
    .close-line {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: white;
        transform-origin: center;
    }
    .close-line-1 {
        transform: translateY(-50%) rotate(45deg);
    }
    .close-line-2 {
        transform: translateY(-50%) rotate(-45deg);
    }
    .header__overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 998;
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        cursor: pointer;
        animation: fadeIn 0.3s ease forwards;
    }
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    .header__menu__nav__mobile {
        display: flex;
        position: fixed;
        flex-direction: column;
        background-color: #1E1E1E;
        z-index: 999;
        justify-content: flex-start;
        align-items: right;
        top: 0;
        right: -100%;
        width: 250px;
        height: 100vh;
        transition: right 0.3s ease;
        padding-top: 150px;
        padding-right: 40px;
    }
    .header__menu__nav__mobile.active {
        right: 0%;
    }
    .header__nav--mobile {
        text-align: right;
    }
    .header__nav--mobile ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
        list-style-type: none;
    }
    .header__nav--mobile ul li a {
        color: white;
        text-decoration: none;
        font-size: 18px;
        transition: color 0.3s ease;
        &:hover {
            color: #ccc;
        }
    }
    .header__btn--mobile {
        display: flex;
        justify-content: right;
        margin-top: 50px;
    }
    .header__btn--mobile button {
        cursor: pointer;
        transition: all .3s ease;
        background-color: white;
        border: 2px solid white;
        border-radius: 18px;
        padding: 14px 17px;
        font-size: 16px;
        font-weight: 500;
        color: #1E1E1E;
        &:hover {
            background-color: transparent;
            color: white;
        }
    }
    body.menu-open {
        overflow: hidden;
        position: fixed;
        width: 100%;
        height: 100%;
    }
}

/* 900px */
@media (max-width: 900px) {
    .header__inner__logo {
        width: 600px;
        gap: 30px;
    }
    .header__inner__text {
        padding-right: 40px;
    }
    
    .footer__top {
        flex-direction: column;
    }
    .footer__logo {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
    .footer__contact {
        flex-direction: row;
        align-items: center;
        margin-top: 0;
    }
    footer {
        padding-top: 50px;
    }
    .footer__info {
        margin-top: 50px;
        justify-content: space-between;
        width: 100%;
    }
    .footer__number {
        gap: 10px;
    }
    .footer__img a img {
        max-width: 100px;
    }
}

/* 850px */
@media (max-width: 850px) {
    .cases__card {
        max-width: 150px;
        padding-left: 15px;
    }
    .cases__cards {
        margin-top: -150px;
    }
    .three-card {
        height: 60%;
        &:hover {
            height: 65%;
        }
    }
    .two-card {
        height: 40%;
        &:hover {
            height: 45%;
        }
    }
    .one-card {
        height: 20%;
        &:hover {
            height: 25%;
        }
    }
    .cases__card h4 {
        font-size: 30px;
    }
}

/* 800px */
@media (max-width: 800px) {
    .services__description {
        font-size: 18px;
    }
    .card {
        width: 350px;
        height: 390px;
    }
    .services__btn {
        font-size: 18px;
    }
    .card__title--text {
        font-size: 18px;
    }
    .card__list, .card__utp {
        font-size: 16px;
    }
    .card__content {
        margin-top: 15px;
        gap: 10px;
    }
    .card__content p {
        font-size: 14px;
    }
    .card-front, .card-back {
        padding: 25px;
    }
    .card__title img {
        width: 35px;
    }
    .card__title {
        align-items: center;
    }
    .services__inner {
        gap: 70px;
        flex-direction: column;
    }
    .services__cards {
        grid-template-columns: repeat(1, 350px);
        align-items: center;
        justify-content: center;
    }
    
    .formMain__title {
        font-size: 35px;
    }
    
    .logo-footer {
        display: none;
    }
}

/* 768px */
@media (max-width: 768px) {
    .about__description__text {
        flex-direction: column;
        gap: 20px;
    }
    .about__description__h1 {
        font-size: 35px;
    }
}

/* 700px */
@media (max-width: 700px) {
    .header__inner__logo {
        width: 400px;
        gap: 30px;
    }
    .header__inner__text {
        padding-right: 40px;
    }
    .logo-header {
        width: 100px;
    }
    .logo-header-text {
        width: 300px;
    }
}

/* 680px */
@media (max-width: 680px) {
    .footer__number a {
        font-size: 16px;
    }
    .footer__list--title {
        font-size: 16px;
    }
    .footer__info--list ul li a {
        font-size: 14px;
    }
    .footer__contact {
        gap: 20px;
    }
}

/* 650px */
@media (max-width: 650px) {
    .cases__card {
        max-width: 100px;
        padding-left: 10px;
    }
    .cases__cards {
        margin-top: -200px;
    }
    .three-card {
        height: 40%;
        &:hover {
            height: 45%;
        }
    }
    .two-card {
        height: 20%;
        &:hover {
            height: 25%;
        }
    }
    .one-card {
        height: 10%;
        &:hover {
            height: 15%;
        }
    }
    .cases__card h4 {
        font-size: 20px;
    }
    
    .order__content {
        font-size: 30px;
    }
}

/* 600px */
@media (max-width: 600px) {
    .header__inner__text {
        padding-right: 40px;
        margin-left: 200px;
    }
    
    .formMain__title {
        font-size: 30px;
    }
    .formMain__btn button {
        font-size: 18px;
        padding: 23px 50px 23px 50px;
    }
}

/* 570px */
@media (max-width: 570px) {
    .footer__number a {
        font-size: 16px;
    }
    .footer__list--title {
        font-size: 14px;
    }
    .footer__info--list ul li a {
        font-size: 12px;
    }
    .footer__contact {
        gap: 20px;
    }
    .footer__logo {
        flex-direction: column;
        gap: 40px;
    }
    .footer__contact {
        justify-content: space-between;
        width: 100%;
    }
    .footer__info--list {
        text-align: center;
    }
}

/* 500px */
@media (max-width: 500px) {
    .header__inner__logo {
        width: 300px;
        gap: 30px;
    }
    .header__inner__text {
        padding-right: 40px;
        margin-left: 180px;
    }
    .logo-header {
        width: 80px;
    }
    .logo-header-text {
        width: 200px;
    }
    .header__inner__text {
        font-size: 12px;
        margin-top: -20px;
    }
    
    .footer__number a {
        font-size: 14px;
    }
    .footer__number img {
        max-width: 15px;
    }
    .footer__copyright {
        font-size: 12px;
    }
}

/* 460px */
@media (max-width: 460px) {
    .btn-text {
        font-size: 16px;
    }
    .container {
        padding-right: 20px;
        padding-left: 20px;
    }
}

/* 450px */
@media (max-width: 450px) {
    .about__description__h1 {
        font-size: 30px;
    }
    
    .order__content {
        font-size: 20px;
    }
    .header__menu__nav__mobile {
        width: 200px;
        padding-right: 20px;
        padding-left: 20px;
    }
    .header__btn--mobile button {
        border-radius: 18px;
        padding: 14px 10px;
        font-size: 16px;
    }
}

/* 420px */
@media (max-width: 420px) {
    .services__description {
        font-size: 18px;
    }
    .card {
        width: 300px;
        height: 390px;
    }
    .services__btn {
        font-size: 18px;
    }
    .card__title--text {
        font-size: 18px;
    }
    .card__list, .card__utp {
        font-size: 14px;
    }
    .card__content {
        margin-top: 15px;
        gap: 10px;
    }
    .card__content p {
        font-size: 12px;
    }
    .card-front, .card-back {
        padding: 25px;
    }
    .card__title img {
        width: 35px;
    }
    .card__title {
        align-items: center;
    }
    .services__inner {
        gap: 70px;
        flex-direction: column;
    }
    .services__cards {
        grid-template-columns: repeat(1, 300px);
        align-items: center;
        justify-content: center;
    }
}

/* 400px */
@media (max-width: 400px) {
    .about__description__h1 {
        font-size: 25px;
    }
    
    .cases__card {
        max-width: 70px;
        padding-left: 10px;
    }
    .cases__cards {
        margin-top: -200px;
    }
    .three-card {
        height: 40%;
        &:hover {
            height: 45%;
        }
    }
    .two-card {
        height: 20%;
        &:hover {
            height: 25%;
        }
    }
    .one-card {
        height: 10%;
        &:hover {
            height: 15%;
        }
    }
    .cases__card h4 {
        font-size: 16px;
    }
    
    .formMain__title {
        font-size: 25px;
    }
    .formMain__btn button {
        font-size: 18px;
        padding: 15px 20px 15px 20px;
    }
    
    .footer__number a {
        font-size: 12px;
    }
    .footer__number img {
        max-width: 15px;
    }
    .footer__copyright {
        font-size: 12px;
    }
}

/* 380px */
@media (max-width: 380px) {
    .header__inner__logo {
        width: 250px;
        gap: 30px;
    }
    .header__inner__text {
        padding-right: 40px;
        margin-left: 150px;
    }
    .logo-header {
        width: 60px;
    }
    .logo-header-text {
        width: 180px;
    }
    .header__inner__text {
        font-size: 12px;
        margin-top: -10px;
    }
}

/* 375px */
@media (max-width: 375px) {
    .btn-text {
        font-size: 14px;
    }
    .services__btn img {
        width: 50px;
    }
    .container {
        padding-right: 20px;
        padding-left: 20px;
    }
    .card {
        width: 250px;
        height: 390px;
    }
    .services__cards {
        grid-template-columns: repeat(1, 250px);
        align-items: center;
        justify-content: center;
    }
    .card__title--text {
        font-size: 16px;
    }
    .card-front, .card-back {
        padding: 15px;
    }
}

/* 341px */
@media (max-width: 341px) {
    .footer__number a {
        font-size: 10px;
    }
    .footer__number img {
        max-width: 12px;
    }
    .footer__copyright {
        font-size: 12px;
    }
    .footer__info--list ul li a {
        font-size: 10px;
    }
}

/* 335px */
@media (max-width: 335px) {
    .formMain__title {
        font-size: 25px;
    }
    .formMain__btn button {
        font-size: 18px;
        padding: 10px;
        font-size: 16px;
    }
}

/* 330px */
@media (max-width: 330px) {
    .header__inner__logo {
        width: 250px;
        gap: 30px;
    }
    .header__inner__text {
        padding-right: 40px;
        margin-left: 130px;
    }
    .logo-header {
        width: 60px;
    }
    .logo-header-text {
        width: 180px;
    }
    .header__inner__text {
        font-size: 12px;
        margin-top: -10px;
    }
}

/* Для предотвращения скролла на всей странице */
@media (min-width: 1001px) {
    .header__menu--mobile,
    .header__menu--mobile__close,
    .header__overlay,
    .header__menu__nav__mobile {
        display: none !important;
    }
}