/* 1700px */
@media (max-width: 1700px) {
    .about__description__h1 {
        font-size: 50px;
        max-width: 1000px;
    }
    .about__description__text {
        gap: 25px;
    }
    .about__description__content {
        max-width: 500px;
    }
    .services__inner {
        gap: 70px;
    }
    .cases__card {
        max-width: 355px;
    }
}

/* 1600px */
@media (max-width: 1600px) {
    .header__inner__logo {
        width: 900px;
    }
}

/* 1500px */
@media (max-width: 1500px) {
    .about__description__h1 {
        font-size: 45px;
        max-width: 800px;
    }
    .about__description__text {
        gap: 25px;
    }
    .about__description__content {
        max-width: 400px;
        font-size: 18px;
    }
    .services__description {
        font-size: 20px;
    }
    .card {
        width: 400px;
        height: 480px;
    }
}

/* 1450px */
@media (max-width: 1450px) {
    .cases__card {
        max-width: 300px;
    }
}

/* 1400px */
@media (max-width: 1400px) {
    .services__description {
        font-size: 18px;
    }
    .card {
        width: 350px !important;
        height: 520px;
    }
    .services__btn {
        font-size: 18px !important;
    }
}

/* 1300px */
@media (max-width: 1300px) {
    .about__description__h1 {
        font-size: 40px;
        max-width: 600px;
    }
    .about__description__text {
        gap: 25px;
    }
    .about__description__content {
        max-width: 300px;
        font-size: 18px;
    }
    .about__title {
        font-size: 70px;
    }
    .services__title {
        font-size: 70px ;
    }
    .cases__title {
        font-size: 70px;
    }
    .cases__description {
        font-size: 20px;
    }
    .cases__card {
        max-width: 250px;
    }
    .cases__cards {
        margin-top: 100px;
    }
    .order__content {
        font-size: 40px;
    }
    .formMain__title {
        font-size: 40px;
    }
}

/* 1250px */
@media (max-width: 1250px) {
    .services__description {
        font-size: 18px;
    }
    .card {
        width: 300px !important;
        height: 430px !important;
    }
    .services__btn {
        font-size: 18px;
    }
    .card__title--text {
        font-size: 20px !important;
    }
    .card__content {
        margin-top: 15px !important;
    }
    .card__content p {
        font-size: 14px !important;
    }
    .card-front, .card-back {
        padding: 20px !important;
    }
}

/* 1150px */
@media (max-width: 1150px) {
    .services__description {
        font-size: 18px;
    }
    .card {
        width: 250px !important;
        height: 410px !important;
    }
    .services__btn {
        font-size: 18px;
    }
    .card__title--text {
        font-size: 18px !important;
    }
    .card__list, .card__utp {
        font-size: 14px !important;
    }
    .card__content {
        margin-top: 15px !important;
        gap: 10px !important;
    }
    .card__content p {
        font-size: 12px !important;
    }
    .card-front, .card-back {
        padding: 20px !important;
    }
    .card__title img {
        width: 25px !important;
    }
    .services__inner {
        gap: 30px;
    }
}

/* 1100px */
@media (max-width: 1100px) {
    .cases__title {
        font-size: 70px;
    }
    .cases__description {
        font-size: 20px;
    }
    .cases__card {
        max-width: 250px;
        padding-left: 30px;
    }
    .cases__cards {
        margin-top: 100px;
    }
}

/* 1050px */
@media (max-width: 1050px) {
    .logo-header {
        width: 130px;
    }
    .logo-header-text {
        width: 450px;
    }
    .header__inner__text {
        display: flex;
        margin-top: -30px;
        margin-left: 350px;
        font-size: 14px;
    }
    .header__inner__logo {
        width: 800px;
    }
}

/* 1000px */
@media (max-width: 1000px) {
    .about__description__h1 {
        font-size: 40px;
        max-width: 1000px;
    }
    .about__description__text {
        gap: 50px;
    }
    .about__description__content {
        max-width: 800px;
        font-size: 16px;
    }
    .about__title {
        font-size: 70px;
    }
    .about__inner {
        flex-direction: column;
        gap: 70px;
    }
    
    .services__description {
        font-size: 18px;
    }
    .card {
        width: 350px !important;
        height: 400px !important;
    }
    .services__btn {
        font-size: 18px;
    }
    .card__title--text {
        font-size: 18px !important;
    }
    .card__list, .card__utp {
        font-size: 16px !important;
    }
    .card__content {
        margin-top: 15px !important;
        gap: 10px !important;
    }
    .card__content p {
        font-size: 14px !important;
    }
    .card-front, .card-back {
        padding: 25px !important;
    }
    .card__title img {
        width: 35px !important;
    }
    .card__title {
        align-items: center !important;
    }
    .services__inner {
        gap: 70px;
        flex-direction: column;
    }
    .services__cards {
        grid-template-columns: repeat(2, 350px);
        align-items: center;
        justify-content: center;
    }
    
    .cases__title {
        font-size: 70px;
    }
    .cases__description {
        font-size: 20px;
    }
    .cases__card {
        max-width: 200px;
        padding-left: 30px;
    }
    .cases__cards {
        margin-top: 0px;
    }
    .three-card {
        height: 80%;
        &:hover {
            height: 85%;
        }
    }
    .two-card {
        height: 60%;
        &:hover {
            height: 65%;
        }
    }
    .one-card {
        height: 40%;
        &:hover {
            height: 45%;
        }
    }
    .cases__card h4 {
        font-size: 40px;
    }
    
    .footer__img a img {
        max-width: 150px;
    }
    .logo_footer {
        width: 50px;
    }
    .footer__info {
        gap: 25px;
    }
    
    .header__btn {
        display: none;
    }
    .header__nav {
        display: none;
    }
    .header__menu--mobile {
        display: flex;
        position: absolute;
        flex-direction: column;
        gap: 6px;
        right: 0px;
        top: 70px;
        cursor: pointer;
        transition: all .3s ease;
        border-radius: 50px;
        z-index: 999;
        &:hover {
            gap: 10px;
        }
    }
    .header__top__inner {
        padding-top: 80px;
    }
    .header__menu--mobile div {
        background-color: white;
        height: 1.3px;
        border-radius: 50px;
        width: 25px;
    }
    .header__menu--mobile__close {
        position: fixed;
        z-index: 1000;
        right: 45px;
        top: 70px;
        width: 24px;
        height: 24px;
        cursor: pointer;
    }
    .close-line {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: white;
        transform-origin: center;
    }
    .close-line-1 {
        transform: translateY(-50%) rotate(45deg);
    }
    .close-line-2 {
        transform: translateY(-50%) rotate(-45deg);
    }
    .header__overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 998;
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        cursor: pointer;
        animation: fadeIn 0.3s ease forwards;
    }
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    .header__menu__nav__mobile {
        display: flex;
        position: fixed;
        flex-direction: column;
        background-color: #1E1E1E;
        z-index: 999;
        justify-content: flex-start;
        align-items: right;
        top: 0;
        right: -100%;
        width: 250px;
        height: 100vh;
        transition: right 0.3s ease;
        padding-top: 150px;
        padding-right: 40px;
    }
    .header__menu__nav__mobile.active {
        right: 0%;
    }
    .header__nav--mobile {
        text-align: right;
    }
    .header__nav--mobile ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
        list-style-type: none;
    }
    .header__nav--mobile ul li a {
        color: white;
        text-decoration: none;
        font-size: 18px;
        transition: color 0.3s ease;
        &:hover {
            color: #ccc;
        }
    }
    .header__btn--mobile {
        display: flex;
        justify-content: right;
        margin-top: 50px;
    }
    .header__btn--mobile button {
        cursor: pointer;
        transition: all .3s ease;
        background-color: white;
        border: 2px solid white;
        border-radius: 18px;
        padding: 14px 17px;
        font-size: 16px;
        font-weight: 500;
        color: #1E1E1E;
        &:hover {
            background-color: transparent;
            color: white;
        }
    }
    body.menu-open {
        overflow: hidden;
        position: fixed;
        width: 100%;
        height: 100%;
    }
}

/* 900px */
@media (max-width: 900px) {
    .header__inner__logo {
        width: 600px;
        gap: 30px;
    }
    .header__inner__text {
        padding-right: 40px;
    }
    
    .footer__top {
        flex-direction: column;
    }
    .footer__logo {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
    .footer__contact {
        flex-direction: row;
        align-items: center;
        margin-top: 0;
    }
    footer {
        padding-top: 50px;
    }
    .footer__info {
        margin-top: 50px;
        justify-content: space-between;
        width: 100%;
    }
    .footer__number {
        gap: 10px;
    }
    .footer__img a img {
        max-width: 100px;
    }
    .header__message__inner.active {
        width: 350px;
    }
    .header__message__socials a {
        width: 45px;
        height: 45px;
    }
    .header__message__socials {
        gap: 10px;
    }
    .header__message__socials a img {
        width: 25px;
        height: 25px;
    }
}
@media (max-width: 780px) {
    .btn__Close {
        width: 70px !important;
        height: 70px !important;
    }
    .header__message__inner.active {
        width: 320px;
        padding-left: 0;
        height: 70px;
    }
}
@media (max-width: 750px) {
    .header__btns__mobile {
        display: flex;
        gap: 20px;
    }
    .header__message--mobile {
        display: block;
    }
    .header__message__inner {
        display: none;
    }
    /* Для затемнения и размытия фона */
    .backdrop-blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный */
    backdrop-filter: blur(5px); /* Размытие фона */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Чтобы было поверх других элементов */
    }

    /* Для центрирования блока */
    .header__message__socials--mobile {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 15px; /* Расстояние между кнопками */
    padding: 40px;
    background-color:#1E1E1E; /* Или любой другой цвет фона блока */
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    z-index: 1001; /* Чтобы был выше backdrop */
    }
    .header__message__socials--mobile a {
        background-color: transparent;
        border: 1px solid white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        height: 70px;
    }
    .header__message__socials--mobile .close-button {
        top: 0;
        right: 0;
    }
    .header__message__socials--mobile a img {
        width: 30px;
    }
}
@media (max-width: 450px) {
    .header__message__socials--mobile {
        padding: 40px;
    }
    .header__message__socials--mobile a {
        width: 50px;
        height: 50px;
    }
    .header__message__socials--mobile a img {
        width: 20px;
        height: 20px;
    }
}
@media (max-width: 375px) {
    .header__message__socials--mobile {
        padding: 40px;
    }
    .header__message__socials--mobile a {
        width: 50px;
        height: 50px;
    }
    .header__message__socials--mobile a img {
        width: 20px;
        height: 20px;
    }
    .header__btns__mobile {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}

@media (max-width: 540px) {
    .header__message--mobile a {
        width: 70px;
        height: 70px;
    }
    .header__message--mobile a img {
        width: 30px;
    }
    @keyframes message {
        0% {
            width: 70px;
            height: 70px;
            opacity: 0.9;
        }
        50% {
            width: 100px;
            height: 100px;
            opacity: 0;
        }
        100% {
            width: 120px;
            height: 120px;
            opacity: 0;
        }
    }
    .btn-text {
        font-size: 16px;
    }
}
@media (max-width: 400px) {
    .btn-text {
        font-size: 14px !important;
    }
    .services__btn img {
        width: 50px !important;
    }
}
@media (max-width: 350px) {
    .btn-text {
        font-size: 12px !important;
    }
    .services__btn img {
        width: 40px !important;
    }
}
/* 850px */
@media (max-width: 850px) {
    .cases__card {
        max-width: 150px;
        padding-left: 15px;
    }
    .cases__cards {
        margin-top: -150px;
    }
    .three-card {
        height: 60%;
        &:hover {
            height: 65%;
        }
    }
    .two-card {
        height: 40%;
        &:hover {
            height: 45%;
        }
    }
    .one-card {
        height: 20%;
        &:hover {
            height: 25%;
        }
    }
    .cases__card h4 {
        font-size: 30px;
    }
}

@media (max-width: 1100px) {
    .services__description {
        font-size: 18px;
    }
    .WebService__card {
        display: flex;
        justify-content: center;
    }
    .card {
        width: 350px !important;
        height: 390px !important;
    }
    .services__btn {
        font-size: 18px;
    }
    .card__title--text {
        font-size: 18px !important;
    }
    .card__list, .card__utp {
        font-size: 16px !important;
    }
    .card__content {
        margin-top: 15px !important;
        gap: 10px !important;
    }
    .card__content p {
        font-size: 14px !important;
    }
    .card-front, .card-back {
        padding: 25px !important;
    }
    .card__title img {
        width: 35px !important;
    }
    .card__title {
        align-items: center !important;
    }
    .services__inner {
        gap: 70px;
        flex-direction: column;
    }
    .services__cards {
        grid-template-columns: repeat(1, 350px);
        align-items: center;
        justify-content: center;
    }
    
    .formMain__title {
        font-size: 35px;
    }
    
    .logo-footer {
        display: none;
    }
    
    /* Адаптивность для страниц услуг */
    .WebService__title h1 {
        font-size: 50px;
    }
    .WebService__title p {
        font-size: 18px;
        margin-top: 30px;
        max-width: 100%;
    }
    .WebService__top {
        flex-direction: column;
        gap: 50px;
    }
    .WebServices__bottom {
        flex-direction: column;
        gap: 50px;
        margin-top: 80px;
    }
    .WebServices__bottom__title {
        font-size: 50px;
        max-width: 100%;
    }
    .WebServices__bottom__content {
        flex-direction: column;
        gap: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .WebServices__content__text {
        max-width: 100%;
    }
    .WebService__inner .formMain {
        margin-top: 80px;
    }
}

/* 1600px */
@media (max-width: 1600px) {
    /* Адаптивность для страниц услуг */
    .WebService__title h1 {
        font-size: 70px;
    }
    .WebService__title p {
        font-size: 19px;
        margin-top: 45px;
        max-width: 800px;
    }
    .WebServices__bottom__title {
        font-size: 70px;
    }
    .WebServices__bottom {
        margin-top: 120px;
        gap: 70px;
    }
    .WebService__inner .formMain {
        margin-top: 120px;
    }
}

/* 1500px */
@media (max-width: 1500px) {
    /* Адаптивность для страниц услуг */
    .WebService__title h1 {
        font-size: 65px;
    }
    .WebService__title p {
        font-size: 19px;
        margin-top: 45px;
        max-width: 750px;
    }
    .WebServices__bottom__title {
        font-size: 65px;
    }
    .WebServices__bottom {
        margin-top: 110px;
        gap: 65px;
    }
    .WebService__inner .formMain {
        margin-top: 110px;
    }
}

/* 1400px */
@media (max-width: 1400px) {
    /* Адаптивность для страниц услуг */
    .WebService__title h1 {
        font-size: 60px;
    }
    .WebService__title p {
        font-size: 18px;
        margin-top: 40px;
        max-width: 700px;
    }
    .WebServices__bottom__title {
        font-size: 60px;
    }
    .WebServices__bottom {
        margin-top: 100px;
        gap: 60px;
    }
    .WebService__inner .formMain {
        margin-top: 100px;
    }
}

/* 1300px */
@media (max-width: 1300px) {
    /* Адаптивность для страниц услуг */
    .WebService__title h1 {
        font-size: 55px;
    }
    .WebService__title p {
        font-size: 18px;
        margin-top: 40px;
        max-width: 650px;
    }
    .WebServices__bottom__title {
        font-size: 55px;
    }
    .WebServices__bottom {
        margin-top: 90px;
        gap: 55px;
    }
    .WebService__inner .formMain {
        margin-top: 90px;
    }
}

/* 1200px */
@media (max-width: 1200px) {
    /* Адаптивность для страниц услуг */
    .WebService__title h1 {
        font-size: 50px;
    }
    .WebService__title p {
        font-size: 17px;
        margin-top: 35px;
        max-width: 600px;
    }
    .WebServices__bottom__title {
        font-size: 50px;
    }
    .WebServices__bottom {
        margin-top: 80px;
        gap: 50px;
    }
    .WebService__inner .formMain {
        margin-top: 80px;
    }
}

/* 1100px */
@media (max-width: 1100px) {
    /* Адаптивность для страниц услуг */
    .WebService__title h1 {
        font-size: 45px;
    }
    .WebService__title p {
        font-size: 17px;
        margin-top: 35px;
        max-width: 550px;
    }
    .WebServices__bottom__title {
        font-size: 45px;
    }
    .WebServices__bottom {
        margin-top: 70px;
        gap: 45px;
    }
    .WebService__inner .formMain {
        margin-top: 70px;
    }
}

/* 1000px */
@media (max-width: 1000px) {
    /* Адаптивность для страниц услуг */
    .WebService__title h1 {
        font-size: 40px;
    }
    .WebService__title p {
        font-size: 16px;
        margin-top: 30px;
        max-width: 500px;
    }
    .WebServices__bottom__title {
        font-size: 40px;
    }
    .WebServices__bottom {
        margin-top: 60px;
        gap: 40px;
    }
    .WebService__inner .formMain {
        margin-top: 60px;
    }
}

/* 768px */
@media (max-width: 768px) {
    .about__description__text {
        flex-direction: column;
        gap: 20px;
    }
    .about__description__h1 {
        font-size: 35px;
    }
    
    /* Адаптивность для страниц услуг */
    .WebService__title h1 {
        font-size: 40px;
    }
    .WebService__title p {
        font-size: 16px;
        margin-top: 25px;
    }
    .WebServices__bottom__title {
        font-size: 40px;
    }
    .WebServices__content__title {
        font-size: 20px;
    }
    .WebServices__bottom {
        margin-top: 60px;
        gap: 40px;
    }
    .WebService__inner .formMain {
        margin-top: 60px;
    }
}

/* 600px */
@media (max-width: 600px) {
    /* Адаптивность для страниц услуг */
    .WebService__title h1 {
        font-size: 35px;
    }
    .WebService__title p {
        font-size: 16px;
        margin-top: 20px;
    }
    .WebServices__bottom__title {
        font-size: 35px;
    }
    .WebServices__content__title {
        font-size: 18px;
    }
    .WebServices__bottom {
        margin-top: 50px;
        gap: 30px;
    }
    .WebService__inner .formMain {
        margin-top: 50px;
    }
}

/* 480px */
@media (max-width: 480px) {
    /* Адаптивность для страниц услуг */
    .WebService__title h1 {
        font-size: 30px;
    }
    .WebService__title p {
        font-size: 14px;
        margin-top: 15px;
    }
    .WebServices__bottom__title {
        font-size: 30px;
    }
    .WebServices__content__title {
        font-size: 16px;
    }
    .WebServices__bottom {
        margin-top: 40px;
        gap: 25px;
    }
    .WebService__inner .formMain {
        margin-top: 40px;
    }
}

/* 700px */
@media (max-width: 700px) {
    .header__inner__logo {
        width: 400px;
        gap: 30px;
    }
    .header__inner__text {
        padding-right: 40px;
    }
    .logo-header {
        width: 100px;
    }
    .logo-header-text {
        width: 300px;
    }
}

/* 680px */
@media (max-width: 680px) {
    .footer__number a {
        font-size: 16px;
    }
    .footer__list--title {
        font-size: 16px;
    }
    .footer__info--list ul li a {
        font-size: 14px;
    }
    .footer__contact {
        gap: 20px;
    }
}

/* 650px */
@media (max-width: 650px) {
    .cases__card {
        max-width: 100px;
        padding-left: 10px;
    }
    .cases__cards {
        margin-top: -200px;
    }
    .three-card {
        height: 40%;
        &:hover {
            height: 45%;
        }
    }
    .two-card {
        height: 20%;
        &:hover {
            height: 25%;
        }
    }
    .one-card {
        height: 10%;
        &:hover {
            height: 15%;
        }
    }
    .cases__card h4 {
        font-size: 20px;
    }
    
    .order__content {
        font-size: 30px;
    }
}

/* 600px */
@media (max-width: 600px) {
    .header__inner__text {
        padding-right: 40px;
        margin-left: 200px;
    }
    
    .formMain__title {
        font-size: 30px;
    }
    .formMain__btn button {
        font-size: 18px;
        padding: 23px 50px 23px 50px;
    }
}

/* 570px */
@media (max-width: 570px) {
    .footer__number a {
        font-size: 16px;
    }
    .footer__list--title {
        font-size: 14px;
    }
    .footer__info--list ul li a {
        font-size: 12px;
    }
    .footer__contact {
        gap: 20px;
    }
    .footer__logo {
        flex-direction: column;
        gap: 40px;
    }
    .footer__contact {
        justify-content: space-between;
        width: 100%;
    }
    .footer__info--list {
        text-align: center;
    }
}

/* 500px */
@media (max-width: 500px) {
    .header__inner__logo {
        width: 300px;
        gap: 30px;
    }
    .header__inner__text {
        padding-right: 40px;
        margin-left: 180px;
    }
    .logo-header {
        width: 80px;
    }
    .logo-header-text {
        width: 200px;
    }
    .header__inner__text {
        font-size: 12px;
        margin-top: -20px;
    }
    
    .footer__number a {
        font-size: 14px;
    }
    .footer__number img {
        max-width: 15px;
    }
    .footer__copyright {
        font-size: 12px;
    }
}

/* 460px */
@media (max-width: 460px) {
    .btn-text {
        font-size: 16px;
    }
    .container {
        padding-right: 20px;
        padding-left: 20px;
    }
}

/* 450px */
@media (max-width: 450px) {
    .about__description__h1 {
        font-size: 30px;
    }
    
    .order__content {
        font-size: 20px;
    }
    .header__menu__nav__mobile {
        width: 200px;
        padding-right: 20px;
        padding-left: 20px;
    }
    .header__btn--mobile button {
        border-radius: 18px;
        padding: 14px 10px;
        font-size: 16px;
    }
}

/* 420px */
@media (max-width: 420px) {
    .services__description {
        font-size: 18px;
    }
    .card {
        width: 300px !important;
        height: 390px !important;
    }
    .services__btn {
        font-size: 18px;
    }
    .card__title--text {
        font-size: 18px !important ;
    }
    .card__list, .card__utp {
        font-size: 14px !important;
    }
    .card__content {
        margin-top: 15px !important;
        gap: 10px !important;
    }
    .card__content p {
        font-size: 12px !important;
    }
    .card-front, .card-back {
        padding: 25px !important;
    }
    .card__title img {
        width: 35px !important;
    }
    .card__title {
        align-items: center !important;
    }
    .services__inner {
        gap: 70px;
        flex-direction: column;
    }
    .services__cards {
        grid-template-columns: repeat(1, 300px);
        align-items: center;
        justify-content: center;
    }
}

/* 400px */
@media (max-width: 400px) {
    .about__description__h1 {
        font-size: 25px;
    }
    
    .cases__card {
        max-width: 70px;
        padding-left: 10px;
    }
    .cases__cards {
        margin-top: -200px;
    }
    .three-card {
        height: 40%;
        &:hover {
            height: 45%;
        }
    }
    .two-card {
        height: 20%;
        &:hover {
            height: 25%;
        }
    }
    .one-card {
        height: 10%;
        &:hover {
            height: 15%;
        }
    }
    .cases__card h4 {
        font-size: 16px;
    }
    
    .formMain__title {
        font-size: 25px;
    }
    .formMain__btn button {
        font-size: 18px;
        padding: 15px 20px 15px 20px;
    }
    
    .footer__number a {
        font-size: 12px;
    }
    .footer__number img {
        max-width: 15px;
    }
    .footer__copyright {
        font-size: 12px;
    }
}

/* 380px */
@media (max-width: 380px) {
    .header__inner__logo {
        width: 250px;
        gap: 30px;
    }
    .header__inner__text {
        padding-right: 40px;
        margin-left: 150px;
    }
    .logo-header {
        width: 60px;
    }
    .logo-header-text {
        width: 180px;
    }
    .header__inner__text {
        font-size: 12px;
        margin-top: -10px;
    }
}

/* 375px */
@media (max-width: 375px) {
    .btn-text {
        font-size: 14px;
    }
    .services__btn img {
        width: 50px;
    }
    .container {
        padding-right: 20px;
        padding-left: 20px;
    }
    .card {
        width: 250px !important;
        height: 390px !important;
    }
    .services__cards {
        grid-template-columns: repeat(1, 250px);
        align-items: center;
        justify-content: center;
    }
    .card__title--text {
        font-size: 16px !important;
    }
    .card-front, .card-back {
        padding: 15px !important;
    }
}

/* 341px */
@media (max-width: 341px) {
    .footer__number a {
        font-size: 10px;
    }
    .footer__number img {
        max-width: 12px;
    }
    .footer__copyright {
        font-size: 12px;
    }
    .footer__info--list ul li a {
        font-size: 10px;
    }
}

/* 335px */
@media (max-width: 335px) {
    .formMain__title {
        font-size: 25px;
    }
    .formMain__btn button {
        font-size: 18px;
        padding: 10px;
        font-size: 16px;
    }
}

/* 330px */
@media (max-width: 330px) {
    .header__inner__logo {
        width: 250px;
        gap: 30px;
    }
    .header__inner__text {
        padding-right: 40px;
        margin-left: 130px;
    }
    .logo-header {
        width: 60px;
    }
    .logo-header-text {
        width: 180px;
    }
    .header__inner__text {
        font-size: 12px;
        margin-top: -10px;
    }
}

/* Для предотвращения скролла на всей странице */
@media (min-width: 1001px) {
    .header__menu--mobile,
    .header__menu--mobile__close,
    .header__overlay,
    .header__menu__nav__mobile {
        display: none !important;
    }
}
@media (max-width: 1500px) {
    .formLid__inner {
        max-height: 600px;
    }
    .policyForm {
        margin-top: 30px;
    }
    .lidFormButton {
        padding: 20px !important;
    }
}
@media (max-width: 1300px) {
    .formLid__inner {
        max-height: 500px;
    }
    .form__title {
        font-size: 20px;
    }
    .form__btns {
        margin-top: 10px;
    }
    .form__btns button {
        padding: 10px;
    }
    .form__btns {
        gap: 10px;
    }
    .lidForm {
        margin-top: 20px;
    }
    
}
@media (max-width: 1400px) {
    .formLid__title {
        font-size: 50px;
        max-width: 500px;
    }
}
@media (max-width: 1300px) {
    .formLid__title {
        font-size: 40px;
        max-width: 400px;
    }
}
@media (max-width: 1200px) {
    .formLid__title {
        font-size: 30px;
        max-width: 300px;
    }
    .formLid__links a {
        font-size: 20px;
    }
    .formLid__form {
        max-width: 500px;
    }
    .formLid__inner {
        gap: 80px;
    }
    .lidForm input::placeholder {
        font-size: 15px;
    }
    .policyForm {
        font-size: 15px;
    }
}
@media (max-width: 1000px) {
    .formLid__form {
        max-width: 300px;
    }
    .tel__mobile {
        display: block;
    }
    .tel__desktop {
        display: none;
    }
    .form__btns button {
        padding: 5px 10px;
        font-size: 10px;
    }
    .policyForm {
        font-size: 12px;
    }
    .form__title {
        font-size: 18px;
    }
    .policyForm {
        margin-top: 0px;
    }
}
@media (max-width: 800px) {
    .formLid__inner {
        flex-direction: column;
        overflow-y: scroll;
        max-height: 550px;
    }
    .formLid__text {
        gap: 30px;
    }
    .policyForm {
        margin-top: 30px;
    }
}
@media (max-width: 420px) {
    .formLid__form {
        max-width: 200px;
    }
    .formLid__title {
        font-size: 20px;
        max-width: 200px;
    }
    .formLid__links {
        max-width: 200px;
        gap: 10px;
    }
    .formLid__links a {
        font-size: 16px;
    }
    .formLid__inner {
        gap: 40px;
    }
    .policyForm {
        font-size: 10px;
        gap: 10px;
    }
    .policyFormInput input[type="checkbox"]:checked::after {
        width: 10px;
        height: 10px;
    }
    .policyFormInput input[type="checkbox"] {
        width: 20px;
        height: 20px;
    }
    .form__btns button {
        padding: 5px 5px;
        font-size: 9px;
    }
    .form__btns {
        gap: 5px;
    }
}

@media (max-width: 655px) {
    .WebService__card {
        display: none !important;
    }
}
@media (max-width: 800px) {
    .contacts__Form .formLid__inner {
        overflow-y: visible;
        max-height: none;
        height: auto;
    }
    .contacts__Form {
        margin-bottom: 100px;
        display: flex;
        justify-content: center;
    }  
}
@media (max-width: 440px) {
    .contacts h1 {
        font-size: 50px;
    }
    .cases__pages__title h1 {
        font-size: 50px;
    }
}
@media (max-width: 1300px) {
    .services__pages__card {
        flex-direction: column;
        gap: 50px;
    }
    .services__pages__card--title button {
        margin-top: 50px;
    }
    .services__pages__card-reverse {
        align-items: end;
    }
}
@media (max-width: 1400px) {
    .services__pages__card .card__title--text {
        font-size: 30px;
    }
    .services__pages__card .card__title img {
        width: 35px;
    }
    .services__pages__card .card__list {
        font-size: 20px;
    }
    .services__pages__card .card__utp {
        font-size: 20px;
    }
    .services__pages__card .card__content p {
        font-size: 16px;
    }
}
@media (max-width: 540px) {
    .services__pages__card--text span {
        font-size: 40px;
    }
}
@media (max-width: 370px) {
    .services__pages__card--text span {
        font-size: 30px;
    }
}